@model IEnumerable<Ultima.Models.PermisosRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Id permisos</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<p>
    <a class="btn btn-success" asp-action="Create">Crear</a>
</p>
<table class="table" style="width: 60%; margin: 100px auto; background-color: #EFEAD8; color: #000;">
    <thead>
        <tr style="background-color: #004225; color: #FFFFFF;">
            <th style="padding: 10px; font-weight: bold; text-align: left;">
                @Html.DisplayNameFor(model => model.IdPermisoNavigation)
            </th>
            <th style="padding: 10px; font-weight: bold; text-align: left;">
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: #F5F0D7;">
                <td style="padding: 10px; text-align: left;">
                    @Html.DisplayFor(modelItem => item.IdPermisoNavigation.IdPermiso)
                </td>
                <td style="padding: 10px; text-align: left;">
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
                </td>
                <td style="padding: 10px; text-align: center;">
                    <a asp-action="Edit" asp-route-id="@item.IdPermisosRoles" style="color: #FFFFFF; background-color: #004225; padding: 5px 10px; border-radius: 5px; text-decoration: none; margin-right: 5px;">
                        ✏️
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdPermisosRoles" style="color: #FFFFFF; background-color: #004225; padding: 5px 10px; border-radius: 5px; text-decoration: none; margin-right: 5px;">
                        📄
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdPermisosRoles" style="color: #FFFFFF; background-color: #004225; padding: 5px 10px; border-radius: 5px; text-decoration: none;">
                        🗑️
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
